#calculator{ 
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
  width: 200px;

}

#Display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  height: 45px;
  width: 45px;
  margin: 3px;
}